<div data-ng-controller="dashboardCtrl">
<div class="widget-chart bg-white no-padding">

<ul align = "center">


  <h2> Welcome to Professor JQ Sun's <span style = "color:blue"><a href = "http://faculty.ucmerced.edu/jqsun/">Home </a></span>Page </h2>
  <body>
    <table width = "30" border="0">

    <ul align = "center">
<ol>
  <p> 1. Combinatory mechanical characterization of nano-bio-fibers</li>
  <p> 2. Variable resistance devices for physical rehabilitation with MR fluids</li>
</ol>

</ul>
</table>
</body>
</ul>
</div>
</div>
