<!--
<div data-ng-controller="intelCtrl">

    <section class="widget bg-white text-center">
      <nav role="navigation">
       <h1>home"                          "into                                intelligent</h1>


      </nav>
    </section>

      <div class="widget-chart bg-white no-padding">
        <div class="row absolute tp lt rt p15">
          <div class="col-xs-12">
            <div class="pull-right">
              <i class="fa fa-square text-primary mr5"></i> Mail Server
            </div>
            <small class="text-uppercase">Transfer speeds</small>
            <h4 class="text-primary bold no-margin">43.02mbps</h4>
          </div>
        </div>
        <rickshaw class="rickshaw_graph intelhvac-rickshaw" rickshaw-options="options2" rickshaw-features="features5" rickshaw-series="series" style="height:300px"></rickshaw>
      </div>

    </div>

    <section class="widget bg-white text-center">
      <font size = "10"> "this is hvac lab" </font>
    </section>




</div>
-->
<div data-ng-controller="FlotCtrl">
<div class="row">
  <div class="panel">
    <div class="panel-heading border">
      Realtime Chart
    </div>
    <div class="row absolute tp lt rt p15">
      <div class="col-xs-12">
        <div class="pull-right">
        <small class="text-uppercase">Transfer speeds</small>
        <h4 class="text-primary bold no-margin">43.02mbps</h4>
      </div>
      </div>
    </div>
    <div class="panel-body">
      <flot dataset="realDataset" options="realOptions" class="chart-sm" height="150"></flot>
    </div>
  </div>
</div>
</div>
