<!--
  <div class="row" >
    <div class="col-md-4">
      <div>

      <img data-ng-src = "images/face1.jpg" height="55" alt="" width="70" >


    </div>
</div>
<div class="col-md-8">
  <div>
  <div class="widget bg-white">
    <p> this lalalallallalalalalal </p>
  </div>
</div>

</div>
-->
<div class="row" >
  <div class=" bg-white">

  <div>
  <img data-ng-src = "images/face1.jpg" height="55" alt="" width="70"  >
</div>
<div class=" bg-white" >
<p>this lalalallallalalalalal.  This is some text.</p>
</div>
</div>
</div>
