<div data-ng-controller="dashboardCtrl">

-->
</section>
      <div class="widget-chart bg-white no-padding">
        <div class="row absolute tp lt rt p15">
          <div class="col-xs-12">
            <div class="pull-right">
              <i class="fa fa-square text-primary mr5"></i> Mail Server
            </div>
            <small class="text-uppercase">Transfer speeds</small>
            <h4 class="text-primary bold no-margin">43.02mbps</h4>
          </div>
        </div>
        <rickshaw class="rickshaw_graph dashboard-rickshaw" rickshaw-options="options2" rickshaw-features="features5" rickshaw-series="series" style="height:300px"></rickshaw>
      </div>
      <!--
    </div>
  -->
    <section class="widget bg-white text-center">

      <h2><b> "Welcome!" </b></h2>
      <h2> "this is hvac lab" </h2>


    </section>
