

<ul class="nav navbar-nav ">
  <li>
    <p class="navbar-text">
      {{$state.current.data.title}}



    <img data-ng-src = "images/uc.svg" style="position:absolute;left:100px;top:5px;">

    </p>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right hidden-xs title">



 <h1> Applied Controls Lab </h1>



</ul>


<ul class = "menu">
  <div class="widget bg-succ">
  <div class="container">
    <div class="menu-inner">

      <div class="css-table-xs">


        <div class="col">
            <a ui-sref="app.dashboard">

              <i class="icon-cloud"></i>
              <b> HOME </b>

            </a>
        </div>


        <div class="col">
            <a ui-sref="app.apps.intro">

              <i class="icon-marquee"></i>
              <b> INTRO </b>
            </a>
        </div>
        <div class="col">
            <a ui-sref="app.apps.lab">

            <i class="icon-drop"></i>
            <b> SUN'S LAB </font></b>
            </a>
        </div>


        <div class="col">
            <a ui-sref="app.apps.intelhvac">

            <i class="icon-esc"></i>
              <b> INTELLIGENT HVAC </b>
            </a>
        </div>


      </div>
    </div>
    </div>
  </div>


</ul>




</ul>
